<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<body class="wholepage">
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<a class="pull-left homebutton" href="/teacherHome">
					<span class="glyphicon glyphicon-home"></span>
				</a>
				<form class="pull-right" id="signOutForm" role="form" method="get" action="/user_logout">
					<input class="btn" type="submit" value="Sign Out"></input>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="page-header">
			<h1>{{className}}</h1>
		</div>

	    <form id="addQuestionForm" class="form-horizontal" role="form" method="get" action="/createQuestion">
	    	<div class="form-group">
				<label class="col-xs-4 inputText control-label" for="questionText">Question Text:</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" name="questionText" value="{{questionText}}">
				</div>
			</div>
			
	    	<div class="form-group">
				<label class="col-xs-4 inputText control-label" for="aText">a.</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" name="aText" value="{{aText}}">
				</div>
			</div>
			
	    	<div class="form-group">
				<label class="col-xs-4 inputText control-label" for="bText">b.</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" name="bText" value="{{bText}}">
				</div>
			</div>

	    	<div class="form-group">
				<label class="col-xs-4 inputText control-label" for="cText">c.</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" name="cText" value="{{cText}}">
				</div>
			</div>

	    	<div class="form-group">
				<label class="col-xs-4 inputText control-label" for="dText">d.</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" name="dText" value="{{dText}}">
				</div>
			</div>

	    	<div class="form-group">
				<label class="col-xs-4 inputText control-label">e.</label>
				<div class="col-xs-8">
					<label class="inputText control-label">I don't know.</label>
				</div>
			</div>

	    	<div class="form-group">
				<label class="col-xs-8 inputText" for="correctAnswer">Select the correct answer.</label>
				<div class="col-xs-4">
				    <select form="addQuestionForm" class="form-control" id="correctAnswer" name="correctAnswer">
					      <option id="-" value="-" name="-">-</option>
					      <option id="a" value="a" name="a">a</option>
					      <option id="b" value="b" name="b">b</option>
					      <option id="c" value="c" name="c">c</option>
					      <option id="d" value="d" name="d">d</option>
				    </select>
				</div>
			</div>

			<p class="errorText" >{{error}}</p>
			<input class="btn pull-right" type="submit" id="submitBtn" value="Submit Question"></input>
	   	</form>
	    <form id="addQuestionForm" role="form" method="get" action="/teacherClass">
			<input class="btn pull-left" type="submit" id="backBtn" value="Back"></input>
	   	</form>
	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
