<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>Publish a question for {{className}}</h1>
		</div>

		<form id="selectQuestionForm" role="form" method="post" action="/viewQuestionResults">
	    	<input type="hidden" name="userName" value="{{userName}}"></input>
	    	<input type="hidden" name="className" value="{{className}}"></input>
	    	<input type="hidden" name="classID" value="{{classID}}"></input>
	    	<input id="questionID" type="hidden" name="_id" value=""></input>
			<div class="form-group">
				<label for="questionList">Select a question:</label>
			    <select form="selectQuestionForm" class="form-control" onClick="selectQuestion();" id="questionList" name="questionList">
			    {{#each questions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
			</div>
			<input type="submit" id="publishBtn" name="button" value="Publish Question"></input>
		</form>

		<form id="viewResultsForm" role="form" method="post" action="/teacherClass">
	    	<input type="hidden" name="userName" value="{{userName}}"></input>
	    	<input type="hidden" name="classID" value="{{classID}}"></input>
	    	<input type="hidden" name="className" value="{{className}}"></input>
			<input type="submit" id="backBtn" name="button" value="Back"></input>
		</form>

	   	<br>
	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/publishQuestion.js"></script>
</body>
</html>
