<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<body class="wholepage">
	<div class="container">
		<div class="jumbotron">
			<nav class="navbar navbar-fixed-top" role="navigation">
				<div class="navbar-inner">
					<div class="container">
						<a class="pull-left homebutton" href="/studentHome" data-role="button" data-icon="home">
							<span class="glyphicon glyphicon-home"></span>
						</a>
						<form class="pull-right" id="signOutForm" role="form" method="get" action="/user_logout">
							<input class="btn" type="submit" value="Sign Out"></input>
						</form>
					</div>
				</div>
			</nav>
			<div>
				<h1>{{className}}</h1><br>
			</div>
		</div>

		<form id="answerQuestionForm" role="form" method="get" action="/answerQuestion">
			<div class="form-group">
				<label class="inputText" for="questionList">Questions to Answer:</label>
			    <select form="answerQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each answerQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
			</div>
			<p class="errorText" >{{answerError}}</p>
			<input class="btn" type="submit" id="answerBtn" value="Answer Question"></input>
		</form>


		<br>
		<form id="resultsQuestionForm" role="form" method="get" action="/resultsQuestionStudent">
			<div class="form-group">
				<label class="inputText" for="questionList">Previously Answered Questions:</label>
			    <select form="resultsQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each resultsQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
			</div>
			<p class="errorText" >{{resultsError}}</p>
			<input class="btn" type="submit" id="viewResultsBtn" value="View Previous Results"></input>
		</form>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
