<!doctype html>

<html>
<head>
	<title>CourseMate</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<body class="wholepage">
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<form class="pull-right" id="signOutForm" role="form" method="get" action="/user_logout">
					<input class="btn" type="submit" value="Sign Out"></input>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="page-header">
			<h1>Welcome, {{userName}}!</h1>
		</div>			
		
		<form id="selectClassForm" role="form" method="get" action="/useExistingClassStudent">
			<fieldset>
				<legend class="inputText" for="classList">Select an Existing Class</legend>
			    {{#each classes}}
					<input class="btn class-btn pull-left" type="submit" id="existingClassBtn" name="{{_id}}" value='{{name}}'></input>
			    {{/each}}
			</fieldset>
		</form>

		<form id="createClassForm" role="form" method="get" action="/enrollInClass">
			<fieldset class="fieldsetCollapse">
				<legend class="inputText">Join a New Class</legend>
				<div class="content">
					<input type="text" class="form-control" placeHolder="Class code" id="classCode" name="classCode">
					<p class="errorTextOther" >{{joinError}}</p>
					<input class="btn newClassBtn pull-right" type="submit" id="enrollClassBtn" value="Enroll in Class"></input>
				</div>
			</fieldset>
		</form>

		<form id="removeClassForm" role="form" method="get" action="/removeClass">
			<fieldset class="fieldsetCollapse">
				<legend class="inputText">Remove a Class</legend>
				<div class="content">
				    <select form="removeClassForm" class="form-control" id="classList" name="classList">
				      <option id="-" value='{"classID":0,"className":""}' name="-">-</option>
				    {{#each classes}}
				      <option id="{{_id}}" value='{"classID":"{{_id}}","className":"{{name}}" }' name="{{_id}}">{{name}}</option>
				    {{/each}}
				    </select>
					<p class="errorTextOther" >{{removeError}}</p>
					<input type="hidden" name="prevPage" value="studentHome"></input>
					<input class="btn pull-right" type="submit" id="removeClassBtn" value="Remove Class"></input>
				</div>
			</fieldset>
		</form>	
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/studentHome.js"></script>
</body>
</html>
