<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<body class="wholepage">
	<div class="container">
		<div class="jumbotron">
			<div>
				<form class="navbar-form navbar-right" id="signOutForm" role="form" method="get" action="/user_logout">
					<input class="btn" type="submit" value="Sign Out"></input>
				</form>
				<h1>Welcome {{userName}}</h1>
			</div>
		</div>

		<form id="selectClassForm" role="form" method="get" action="/useExistingClassStudent">
			<div class="form-group">
				<label for="classList">Select a current class:</label>
			    <select form="selectClassForm" class="form-control" id="classList" name="classList">
			      <option id="-" value='{"classID":0,"className":""}' name="-">-</option>
			    {{#each classes}}
			      <option id="{{_id}}" value='{"classID":"{{_id}}","className":"{{name}}" }' name="{{_id}}">{{name}}</option>
			    {{/each}}
			    </select>
			</div>
			<p>{{selectError}}</p>
			<input class="btn" type="submit" id="existingClassBtn" value="Proceed"></input>
		</form>

		<form id="createClassForm" role="form" method="get" action="/enrollInClass">
		    <div class="form-group">
			    <label for="newClassName">Enter a code to join a class:</label>
				<input type="text" class="form-control" placeHolder="Class code" id="classCode" name="classCode">
			</div>
			<p>{{joinError}}</p>
			<input class="btn" type="submit" id="enrollClassBtn" value="Enroll in Class"></input>
		</form>
		<form id="removeClassForm" role="form" method="get" action="/removeClass">
			<div class="form-group">
				<label for="classList">Remove a class:</label>
			    <select form="removeClassForm" class="form-control" id="classList" name="classList">
			      <option id="-" value='{"classID":0,"className":""}' name="-">-</option>
			    {{#each classes}}
			      <option id="{{_id}}" value='{"classID":"{{_id}}","className":"{{name}}" }' name="{{_id}}">{{name}}</option>
			    {{/each}}
			    </select>
			</div>
			<p>{{removeError}}</p>
			<input type="hidden" name="prevPage" value="studentHome"></input>
			<input class="btn" type="submit" id="removeClassBtn" value="Remove Class"></input>
		</form>
		<br>		
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
