<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<body class="wholepage">
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
				<button class="homebutton btn-default" class="navbar-btn navbar-left" id="homeForm" onClick="self.location='/studentHome'">
					<span class="glyphicon glyphicon-home"></span>
				</button>
				<h1>{{className}}</h1>
				<form class="navbar-form navbar-right" id="signOutForm" role="form" method="get" action="/user_logout">
					<div class="form-group">
						<input class="btn" type="submit" value="Sign Out"></input>
					</div>	
				</form>
		</nav>

		<form id="answerQuestionForm" role="form" method="get" action="/answerQuestion">
			<div class="form-group">
				<label for="questionList">Questions to Answer:</label>
			    <select form="answerQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each answerQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
			</div>
			<p>{{answerError}}</p>
			<input class="btn" type="submit" id="answerBtn" value="Answer Question"></input>
		</form>


		<br>
		<form id="resultsQuestionForm" role="form" method="get" action="/resultsQuestionStudent">
			<div class="form-group">
				<label for="questionList">Previously Answered Questions:</label>
			    <select form="resultsQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each resultsQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
			</div>
			<p>{{resultsError}}</p>
			<input class="btn" type="submit" id="viewResultsBtn" value="View Previous Results"></input>
		</form>
		
	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
