<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<div>
				<form id="homeForm" role="form" method="get" action="/teacherHome">
					<input type="submit" value="Home"></input>
				</form>
				<form id="signOutForm" role="form" method="get" action="/user_logout">
					<input type="submit" value="Sign Out"></input>
				</form>
			</div>
			<h1>{{className}}</h1>
		</div>

		<p>Have students enter code {{classID}} to join.</p>
		<br>

		<form id="addQuestionForm" role="form" method="get" action="/addQuestion">
			<input type="submit" id="addQuestionBtn" value="Add a question"></input>
		</form>

		<br>

		<form id="publishQuestionForm" role="form" method="get" action="/publishQuestion">
			<div class="form-group">
				<label for="questionList">Select a question:</label>
			    <select form="publishQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each newQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
			</div>
			<p>{{publishError}}</p>
			<input type="submit" id="publishBtn" value="Publish Question"></input>
		</form>


		<br>
		<form id="resultsQuestionForm" role="form" method="get" action="/resultsQuestion">
			<div class="form-group">
				<label for="questionList">Select a question:</label>
			    <select form="resultsQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each resultsQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
			</div>
			<p>{{resultsError}}</p>
			<input type="submit" id="viewResultsBtn" value="View Results"></input>
		</form>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
