<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<body class="otherpages">
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<form class="pull-right" id="signOutForm" role="form" method="get" action="/user_logout">
					<input class="btn" type="submit" value="Sign Out"></input>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="page-header">
			<h1>Welcome, {{userName}}!</h1>
		</div>
		<form id="selectClassForm" role="form" method="get" action="/useExistingClass">
			<fieldset>
				<legend class="inputText" for="classList">Select a current class:</legend>
			    <select form="selectClassForm" class="form-control" id="classList" name="classList">
				      <option id="-" value='{"classID":0,"className":""}' name="-">-</option>
				    {{#each classes}}
				      <option id="{{_id}}" value='{"classID":"{{_id}}","className":"{{name}}" }' name="{{_id}}">{{name}}</option>
				    {{/each}}
			    </select>
				<p class="errorText" >{{selectError}}</p>
				<input class="btn pull-right" type="submit" id="existingClassBtn" value="Proceed"></input>
			</fieldset>
		</form>

		<form id="createClassForm" role="form" method="get" action="/createClass">
			<fieldset>
				<legend class="inputText" for="newClassName">Create a new class:</legend>
				<input type="text" class="form-control" placeHolder="New Class Name" id="newClassName" name="newClassName">
				<p class="errorText">{{createError}}</p>
				<input class="btn pull-right" type="submit" id="createClassBtn" value="Create New Class"></input>
			</fieldset>
		</form>

		<form id="removeClassForm" role="form" method="get" action="/removeClass">
			<fieldset>
				<legend class="inputText" for="classList">Remove a class:</legend>
			    <select form="removeClassForm" class="form-control" id="classList" name="classList">
				      <option id="-" value='{"classID":0,"className":""}' name="-">-</option>
				    {{#each classes}}
				      <option id="{{_id}}" value='{"classID":"{{_id}}","className":"{{name}}" }' name="{{_id}}">{{name}}</option>
				    {{/each}}
			    </select>
				<p class="errorText">{{removeError}}</p>
				<input type="hidden" name="prevPage" value="teacherHome"></input>
				<input class="btn pull-right" type="submit" id="removeClassBtn" value="Remove Class"></input>
			</fieldset>
		</form>
		<br>			
	</div>
	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
