<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<body class="wholepage">
	<div class="container">
		<div class="jumbotron">
			<nav class="navbar navbar-fixed-top" role="navigation">
				<div class="navbar-inner">
					<div class="container">
						<a class="pull-left homebutton" href="/teacherHome" data-role="button" data-icon="home">
							<span class="glyphicon glyphicon-home"></span>
						</a>
						<form class="pull-right" id="signOutForm" role="form" method="get" action="/user_logout">
							<input class="btn" type="submit" value="Sign Out"></input>
						</form>
					</div>
				</div>
			</nav>
			<div>
				<h1>{{className}}</h1>
			</div>
			
		</div>

		<p class="inputText" >Have students enter code {{classID}} to join.</p>
		<br>

		<form id="addQuestionForm" role="form" method="get" action="/addQuestion">
			<input class="btn" type="submit" id="addQuestionBtn" value="Add a question"></input>
		</form>

		<br>

		<form id="publishQuestionForm" role="form" method="get" action="/publishQuestion">
			<div class="form-group">
				<label class="inputText" for="questionList">Select a question:</label>
			    <select form="publishQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each newQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
			</div>
			<p class="errorText" >{{publishError}}</p>
			<input class="btn" type="submit" id="publishBtn" value="Publish Question"></input>
		</form>


		<br>
		<form id="resultsQuestionForm" role="form" method="get" action="/resultsQuestion">
			<div class="form-group">
				<label class="inputText" for="questionList">Select a question:</label>
			    <select form="resultsQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each resultsQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
			</div>
			<p class="errorText" >{{resultsError}}</p>
			<input class="btn" type="submit" id="viewResultsBtn" value="View Results"></input>
		</form>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
