<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<body class="wholepage">
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<a class="pull-left homebutton" href="/teacherHome">
					<span class="glyphicon glyphicon-home"></span>
				</a>
				<form class="pull-right" id="signOutForm" role="form" method="get" action="/user_logout">
					<input class="btn" type="submit" value="Sign Out"></input>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="page-header">
			<h1>{{className}}</h1>
		</div>

		<p class="inputText" >Have students enter code {{classID}} to join.</p>

		<fieldset>
			<legend class="inputText" for="classList">Step 1: Add a Question</legend>
			<form id="addQuestionForm" role="form" method="get" action="/addQuestion">
				<input class="btn pull-right" type="submit" id="addQuestionBtn" value="Add a Question"></input>
			</form>
		</fieldset>

		<form id="publishQuestionForm" role="form" method="get" action="/publishQuestion">
			<fieldset>
				<legend class="inputText" for="questionList">Step 2: Publish a Question</legend>
			    <select form="publishQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each newQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
				<p class="errorTextOther" >{{publishError}}</p>
				<input class="btn pull-right" type="submit" id="publishBtn" value="Publish Question"></input>
			</fieldset>
		</form>

		<form id="resultsQuestionForm" role="form" method="get" action="/resultsQuestion">
			<fieldset>
				<legend class="inputText" for="questionList">Step 3: Review Results</legend>
			    <select form="resultsQuestionForm" class="form-control" id="questionList" name="questionList">
			      <option id="-" value="-" name="-">-</option>
			    {{#each resultsQuestions}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{text}}</option>
			    {{/each}}
			    </select>
				<p class="errorTextOther" >{{resultsError}}</p>
				<input class="btn pull-right" type="submit" id="viewResultsBtn" value="View Results"></input>
			</fieldset>
		</form>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
