<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<div>
				<button type="button" onClick="signOutBtn();">Sign Out</button>
			</div>
			<h1>Home page for</h1>
			<h1 id="userName">{{username}}</h1>
		</div>

		<form id="selectClassForm" role="form" method="post" action="/teacherClass">
	    	<input type="hidden" name="userName" value="{{username}}"></input>
	    	<input id="classID" type="hidden" name="_id" value=""></input>
	    	<input id="className" type="hidden" name="name" value=""></input>
			<div class="form-group">
				<label for="classList">Select a current class:</label>
			    <select form="selectClassForm" class="form-control" onClick="useExistingClassBtn();" id="classList" name="classList">
			    {{#each classes}}
			      <option id="{{_id}}" value="{{_id}}" name="{{_id}}">{{name}}</option>
			    {{/each}}
			    </select>
			</div>
			<input type="submit" id="existingClassBtn" name="button" value="Use Existing Class"></input>
		</form>

		<form id="createClassForm" role="form" method="post" action="/teacherClass">
		    <div class="form-group">
		    	<input type="hidden" name="userName" value="{{username}}"></label>
			    <label for="newClassName">Create a new class:</label>
				<input type="text" class="form-control" placeHolder="newClass" id="newClassName" name="newClassName">
			</div>
			<input type="submit" id="createClassBtn" name="button" value="Create New Class"></input>
		</form>

		<p>Remove a class:</p><br>
	    <select>
	    {{#each classes}}
	      <option value="{{class}}">{{class}}</option>
	    {{/each}}
	    </select>
	    
	    <button type="button" onClick="removeClassBtn();">Remove Class</button><br><br><br>

		
	</div>
	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/teacherHome.js"></script>
</body>
</html>
