<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<body class="wholepage">
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<a class="pull-left homebutton" href="/teacherHome">
					<span class="glyphicon glyphicon-home"></span>
				</a>
				<form class="pull-right" id="signOutForm" role="form" method="get" action="/user_logout">
					<input class="btn" type="submit" value="Sign Out"></input>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="page-header">
			<h1>{{questionText}}</h1>
		</div>

		<input type="hidden" id="questionID" value="{{questionID}}"></input>
		<input type="hidden" id="classID" value="{{classID}}"></input>
		<form id="viewQuestionResponseForm" role="form" method="get" action="/teacherClass">
			{{#each answers}}
				<label class="inputText">{{answer}}</label><br>
			{{/each}}
	 		<div id="piechart" class="pieChart"></div>
	 		<br><br>
			<input class="btn" type="submit" id="backBtn" value="Return to {{className}}"></input>
		</form>	


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/viewQuestionResults.js"></script>

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	    // Load the Visualization API and the piechart package.
	    google.load('visualization', '1', {'packages':['corechart']});
	    // Set a callback to run when the Google Visualization API is loaded.
	    google.setOnLoadCallback(createPieChart);
    </script>

</body>
</html>
